################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstateManager/.vs/RealEstateManager
/RealEstateManager/bin/Debug/net8.0-windows
/RealEstateManager/obj
/.vs
/RealEstateManager/.vs/ProjectEvaluation
