################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstateManager/.vs/RealEstateManager
/RealEstateManager/bin/Debug/net8.0-windows
/RealEstateManager/obj
/.vs
/RealEstateManager/.vs/ProjectEvaluation
/RealEstateManager/bin/Release/net8.0-windows
/MyPropertyApi/bin/Debug/net9.0
/MyPropertyApi/obj
/RealEstateManager/.vs/CopilotSnapshots/AFB085F9F2E2D54B96D27C7C54AB5F5E
/RealEstateManager/.vs/CopilotSnapshots/EEF1618D69E17545AD57C20C54D99A4B
/RealEstateManager/.vs/CopilotSnapshots/DA3BE0DFB033CA498FFC9C9ADECC33A7
/RealEstateManager/.vs/CopilotSnapshots/AB461C318D0D734EB0DCB64AACBF012A
